parameters:
    level: 5
    paths:
        - src
        - controllers
        - libraries
        - models
    bootstrapFiles:
        - tests/stubs/codeigniter.php
    excludePaths:
        - tests/*
        - views/*
