<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="false"
         failOnRisky="false"
         failOnNotice="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>modules/postieri_api/tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>modules/postieri_api/tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>modules/postieri_api/src</directory>
        </include>
    </source>
    <!--
      <coverage>
        <report>
          <html outputDirectory="coverage"/>
          <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
      </coverage>
      Coverage is disabled in CI until xdebug/pcov is wired up.
      To enable locally: install xdebug/pcov and uncomment this block.
    -->
</phpunit>
